<!doctype html>
<html ng-app="PCSApp">
	<head>
		<title>PennCourseSearch</title>
		<meta charset="UTF-8">
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css">
        <link rel="stylesheet" type="text/css" href="/css/index.css"/>
        <link rel="stylesheet" type="text/css" href="/css/plugins.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
        <script async type="text/javascript" src="/js/html2canvas.js"></script>
        <script async type="text/javascript" src="js/jquery.tooltipster.min.js"></script>
        <script async type="text/javascript" src="/js/sweetalert.min.js"></script>
        <script type="text/javascript" src="/js/jquery.leanModal.min.js"></script>
        <!-- <script type="text/javascript" src="/js/init.js"></script> -->
        <!-- <script type="text/javascript" src="/js/main.js"></script> -->
        <script type="text/javascript" src="/js/angular.js"></script>
        <!-- <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-49014722-4', 'auto');
            ga('send', 'pageview', '/home');
        </script> -->
	</head>
    <body ng-controller="CourseController">
        <div id="MenuBar">
            <a rel="leanModal" href="#ModalWindow">About</a>
            <a href="/logout">Logout</a>
        </div>
        <div id="Top">
<!--     	   <h1>{{ title }}</h1>
    	   <span>{{ subtitle }}</span> -->
            <form onkeypress="if (event.keyCode == 13) {event.preventDefault();InitiateSearch();}">
                <span>Search by:</span>
    			<select id="searchSelect" style="margin-right:1em;" ng-model="searchType" ng-change="typeChange()">
                    <option selected="selected" value="courseIDSearch">Course ID</option>
                    <option value="keywordSearch">Keywords</option>
                    <option value="instSearch">Instructor</option>
                </select>

                <input id="CSearch" type="text" name="courseSearch" autocomplete="off" placeholder="Search for courses..." autofocus="autofocus" ng-model="search" ng-change="searchChange()">

                <!-- <span style="margin-left:1em;" class="OpenSec">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span> = Open </span><span class="ClosedSec">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span> = Closed </span> -->
                
                <span style="margin-left:1em;">Schedule:</span><select id="schedSelect" ng-model="currentSched" ng-change="schedChange()"></select>
                
                <div id="loaderWrap">
                    <div class="loader" id="LoadingInfo" title="1">
                        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="30px" height="30px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                            <path fill="#FFF" d="M25.251,6.461c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615V6.461z">
                                <animateTransform attributeType="xml"
                                attributeName="transform"
                                type="rotate"
                                from="0 25 25"
                                to="360 25 25"
                                dur="0.6s"
                                repeatCount="indefinite"/>
                            </path>
                        </svg>
                    </div>
                </div>

    		</form>
            <div id="MenuButtons">
                <ul>
                  <li>
                    Schedule <i class="fa fa-caret-down"></i>
                    <ul>
                      <a rel="leanModal" href="#SchedModal"><li>Download</li></a>
                      <li>Recolor</li>
                      <li id="NewSchedBtn">New</li>
                      <li id="DupSchedBtn">Duplicate</li>
                      <li id="RenSchedBtn">Rename</li>
                      <li id="ClearAllBtn">Clear</li>
                      <li id="DeleteSchedBtn">Delete</li>
                    </ul>
                  </li>
                  <li onclick="StarHandle('show');"><span>Show Stars</span></li>
                  <li onclick="$('#FilterSearch').slideToggle(200);"><span>Filter</span></li>
                  <li onclick="ClearSearch()"><span>Clear Search</span></li>
                </ul>
            </div>
            <div id="ModalWindow" class="Modal">
                <h2>About PennCourseSearch</h2>
                <p>PennCourseSearch is a cleaner and simpler way for Quakers to find classes and make schedules. While this is not a full replacement for Penn InTouch, it acts as an improvement of the "Course Search" and "Mock Schedules" features. Search across departments, courses, and sections and refine searches by specific criteria.</p>
                <h2>How do I search for courses?</h2>
                <p>Just type a course in the search box. Then you can click on the results to see more in-depth information about different sections. If you want to filter the results, click on the filter button and change your options. You can also choose to search by course description or instructor in the menu bar.</p>
                <h2>How do I change my schedule?</h2>
                <p>To add a section to your schedule, click on its '+' icon. To remove a course, mouse over it and click the 'X' in the top left corner. You can see more options in the "Schedule" menu, including changing the colors as well as creating and deleting schedules.</p>
                <br>
                <div class="ModalThird">
                    <!-- <span>Want to give <a href="http://benbernstein.me/" target="_blank">Ben</a> free money?</span><a href={{ paymentNote }} target="_blank"><span class="logo"></span><span class="label">Venmo Me</span></a> -->
                </div>
                <div class="ModalThird">
                    <span>Questions or comments?</span>
                    <a href="mailto:bernsb@seas.upenn.edu?Subject=PennCourseSearch"><span><i class="fa fa-envelope-o" style="padding-right:0.5em;"></i>Email Me</span></a>
                </div>
                 <div class="ModalThird">
                    <span>Want to see all of PCS's code?</span>
                    <a href="https://github.com/benb116/PennCourseSearch"><span><i class="fa fa-github" style="padding-right:0.25em;"></i>View on Github</span></a>
                </div>
                <a class="modal_close"><i class="fa fa-times"></i></a>
            </div>
            <div id="SchedModal" class="Modal">
                <img id="SchedImage" src="">
                <span>Right click the image to save it.</span>
                <a class="modal_close"><i class="fa fa-times"></i></a>
            </div>
		</div>
        <div id="BottomResults">
        	<div id="CourseList">
                <ul>
                    <!-- | orderBy:'-courseRevs.cQ' -->
                     <li ng-repeat="course in courses" id="{{ course.idDashed }}" ng-click="courseClick(course.idDashed)">
                        <span class="PCR" style="background:rgba(45, 160, 240, {{ course.pcrQShade }});color: {{ course.pcrQColor }} ">{{ course.revs.cQ | number:2}}</span>
                        <span class="PCR" style="background:rgba(231, 76, 60, {{ course.pcrDShade }});color: {{ course.pcrDColor }} ">{{ course.revs.cD | number:2}}</span>
                        <span class="cID">{{ course.idSpaced }}</span>
                        <span class="cTitle">{{ course.courseTitle }}</span>
                    </li>
                </ul>   
            </div>
        	<div id="SectionCol">
        		<div id="Sections">
                    <span id="CourseTitle">{{ currentCourse.idSpaced }} {{ currentCourse.title }}</span>
                    <div id="SectionList">
                        <ul>
                            <li ng-repeat="section in sections" id="{{ section.idDashed }}" class="{{section.actType}}" ng-click="sectionClick(section.idDashed)">
                                <i class="fa" ng-class="{'fa-plus': !section.isScheduled, 'fa-times': section.isScheduled}" ng-click="sched(section.idDashed)"></i>
                                <span class="statusClass" ng-class="{'openSec': section.isOpen, 'closedSec': !section.isOpen}"></span>
                                <span class="PCR" style="background:rgba(45, 160, 240, {{ section.pcrQShade }});color: {{ section.pcrQColor }} ">{{ section.revs.cQ | number:2}}</span>
                                <span class="PCR" style="background:rgba(231, 76, 60, {{ section.pcrDShade }});color: {{ section.pcrDColor }} ">{{ section.revs.cD | number:2}}</span>
                                <span>{{ section.idSpaced}}{{ section.timeInfo }} </span>
                                <i class="fa" ng-class="{'fa-star': section.isStarred, 'fa-star-o': !section.isStarred}" ng-click="star(section.idDashed)"></i>
                            </li>
                        </ul>
                    </div>
                </div>
        		<div id="SectionInfo"></div>
        	</div>
        	<div id="InfoPanel">
                <div id="FilterSearch">
                    <div class="FilterPanel">
                        <div class="FilterBlock">
                            <span>Filter by requirement</span>
                            <select multiple id="reqFilter" size=7>
                                <option value="noFilter">Filter by requirement</option>
                                <option value="MDS">Society Sector</option>
                                <option value="MDH">History &amp; Tradition Sector</option>
                                <option value="MDA">Arts &amp; Letters Sector</option>
                                <option value="MDO,MDB">Humanities &amp; Social Science Sector</option>
                                <option value="MDL">Living World Sector</option>
                                <option value="MDP">Physical World Sector</option>
                                <option value="MDN,MDB">Natural Science &amp; Math Sector</option>
                                <option value="MWC">Writing Requirement</option>
                                <option value="MQS">College Quantitative Data Analysis Req.</option>
                                <option value="MFR">Formal Reasoning Course</option>
                                <option value="MC1">Cross Cultural Analysis</option>
                                <option value="MC2">Cultural Diversity in the US</option>
                            </select>
                        </div>
                    </div>
                    <div class="FilterPanel">
                        <div class="FilterBlock">
                            <input type="checkbox" id="closedCheck" value="ClosedSec" checked>Show closed sections
                        </div>
                        <div class="FilterBlock">
                            <select id="actFilter">
                                <option value="noFilter">Filter by section type</option>
                                <option value="LEC">Lecture</option>
                                <option value="REC">Recitation</option>
                                <option value="LAB">Laboratory</option>
                                <option value="IND">Independent Study</option>
                                <option value="SEM">Seminar</option>
                                <option value="SRT">Senior Thesis</option>
                                <option value="STU">Studio</option>
                                <option value="CLN">Clinic</option>
                                <option value="PRC">SCUE Preceptorial</option>
                                <option value="PRO">NSO Proseminar</option>
                                <option value="ONL">Online Course</option>
                            </select>
                        </div>
                        
                        <div class="FilterBlock">
                            <select id="proFilter">
                                <option value="noFilter">Filter by program</option>
                                <option value="MSL">ABCS Courses</option>
                                <option value="BFS">Ben Franklin Seminars</option>
                                <option value="CGS">College of Liberal &amp; Professional Studies</option>
                                <option value="CRS">Critical Writing Seminars</option>
                                <option value="FORB">Freshman-Friendly courses</option>
                                <option value="MFS">Freshman Seminars</option>
                                <option value="PLC">Penn Language Center</option>
                                <option value="SS">Summer Sessions I &amp; II</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div id="SchedGraph">
            		<div id="TimeCol" style="position:relative;"></div>
                    <div id="Schedule" style="position:relative;"></div>
                </div>
        	</div>
        </div>
        <!-- <div style="display:none" id="StatusMessage">{{ statusMessage }}</div> -->
    </body>
</html>