@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(/css/OpenSans.ttf) format('truetype');
}
body {
    width: 100%;
    min-width: 1000px;
    margin: 0;
    background-color: #3498db;
    color: white;
    font-family: 'Helvetica';
    font-family: 'Open Sans';
    text-align: center;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {background: white;}
::-webkit-scrollbar-thumb {
    background: #95a5a6;
    border-radius: 1px;
}


#MenuBar {
    height: 2em;
    width: 18em;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #F2F2F2;
    border-bottom-left-radius: 1.5em;
    color: black;
    line-height: 2em;
}
#MenuBar > a {
    margin-right: 2em;
    text-decoration: none;
    color: black;
}



#Top {height: 5em;}
h1 {margin: 1em 0 0 0;}
#schedSelect, #LoadingInfo {margin-left: 1em;}
form {padding-left: calc(30px + 1em);}
form > input[type="text"] {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 0.4em;
    width: 30em;
    font-size: .75em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    background-color: #f5f5f5;
}
#loaderWrap {height: 30px; width: 30px; display: inline-block; vertical-align: middle;}
.loader {
    height: 30px;
    width: 30px;
    text-align: center;
    margin: 0 auto .2em;
    margin-left: 2em;
    display: none;
    vertical-align: middle;
}

/*Menubar*/
/*http://cssdeck.com/labs/another-simple-css3-dropdown-menu*/
#MenuButtons ul {
    z-index: 99;
    display: inline;
    margin: 0;
    list-style: none;
    text-align: left;
}
#MenuButtons ul li {
    display: inline-block;
    position: relative;
    margin-right: -4px;
    padding: 5px 25px;
    cursor: pointer;
    font-size: 16px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
#MenuButtons ul li:hover {background: #555;}
#MenuButtons ul li:active {background: #333;}
#MenuButtons ul li ul {
    display: none;
    visibility: hidden;
    position: absolute;
    top: 32px;
    left: 0;
    padding: 0;
    box-shadow: none;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transiton: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    -ms-transition: opacity 0.2s;
    -o-transition: opacity 0.2s;
    -transition: opacity 0.2s;
}
#MenuButtons ul li ul li {
    display: block;
    width: 100%;
    min-width: 80px;
    background: #555;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.5em;
    text-shadow: 0 -1px 0 #000;
}
#MenuButtons ul li ul li:hover {background: #666;}
#MenuButtons ul li ul li:nth-child(7):hover{background-color: #c0392b;}
#MenuButtons ul li:hover ul {
    display: block;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
}
#MenuButtons a {
    text-decoration: none;
    color: white;
}



#BottomResults {
    width: 100%;
    position: absolute;
    top: 180px;
    color: black;
}
#CourseList, #SectionCol {
    height: calc(100vh - 180px);
    border-left: 5px solid white;
    border-top: 5px solid white; 
    box-sizing: border-box;
    margin: 0;    
    float: left;
    list-style-type: none;
    background-color: white;
    font-size: 11px;
    text-align: left;
}
#CourseList {
    width: 250px;
    margin-left: 2.5%;
    text-align: left;
    overflow-y: scroll;
    border-top-left-radius: 5px;
}
#SectionCol {border-top-right-radius: 5px;}
#Sections, #SectionInfo {
    width: 300px;
    padding-left: 0.5em;
}
#Sections {
    height: 35%; 
    border-top-right-radius: 5px;
    overflow-y: hidden;
}
#SectionList {
    height: calc(100% - 1em);
    overflow-y: scroll;}
#SectionInfo {
    height: 65%;
    overflow-y: scroll;
    padding-right: 0.5em;
    border-top: 1em solid white;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#CourseList li {
    padding: 0.125em 2em .125em 4em;
    text-indent: -3em;
}
#SectionList li {
    padding: 0.125em 0.5em .125em 0;
}
#CourseList li,
#SectionList li span:nth-child(1), 
#SectionList li span:nth-child(4) {cursor: pointer;}

#CourseList li:active, 
#SectionList li span:nth-child(4):active {background-color: #00B3FF;}
#SectionList i:nth-child(1):active {color: #00B3FF;}

.OpenSec {background-color: #47EA4C;}
.ClosedSec {background-color: #F73B3B;}
.ErrorSec {background-color: #E6E6E6;}
.PCRSec {background-color: #1f8dd6;}
.PCR {color: white; width: 3em; height: 1.5em;}
.fa-star, .fa-star-o {
    float: right;
    font-size: 14px;
    color: #01256e;
}
.fa {cursor: pointer;}



#FilterSearch {
    height: 10%;
    overflow: hidden;
    padding-left: 4em;
    padding-right: 4em;
    font-size: 12px;
    min-width: 500px;
    height: 6em;
    margin-bottom: 1em;
    text-align: center;
    display: none;
}
#FilterPanel {
    height: 100%;
    background-color: white;
    width: 100%;
    border-radius: 5px;
}
.FilterBlock {
    height: 49%; 
    width: 49%; 
    display: inline-block;
    box-sizing: border-box;
    text-align: left; 
    text-indent: 2em; 
    vertical-align: middle;
    line-height: 3em; 
    overflow: hidden;     
}
.FilterBlock > input {margin: 0 1em 0 .5em;}




#SchedGraph {
    height: 75%;
    min-height: 350px;
    min-width: 500px;
    overflow: hidden;
    padding: 0 2em 0 2em;
    font-size: 12px;
}
#InfoPanel {
    height: calc(100vh - 16em);
    min-width: 500px;
    font-size: 12px;
}
#TimeCol,
#Schedule {
    height: 100%;
    background-color: white;
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
    min-height: 300px;
}
#Schedule > span {
    font-size: 1.5em;
    line-height: 15em;
}
#TimeCol {
    width: 5%;
    min-width: 40px;
    margin-right: -3px;
    padding-right: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    line-height: 14px;
}
#Schedule {
    width: 90%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.TimeBlock, hr {
    position: absolute;
    text-align: right;
}
.TimeBlock {
    width: 40px;
    margin-right: 0;
    right: 8px;
}
.DayName {
    display: inline-block; 
    height: 30px; 
    line-height: 30px;}
.SchedBlock {
    display: block;
    box-sizing: border-box;
    position: absolute;
    border: 1px solid black;
    overflow-y: hidden;
    cursor: pointer;
    color: black;
}
@media all and (max-width: 1050px) {
    .SchedBlock {font-size: 11px;}
}
@media all and (min-width: 1281px) and (max-width: 1700px) {
    .SchedBlock {font-size: 14px;}
}
.CloseX {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    color: black;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}



#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}
.Modal {
    padding: 10px;
    background-color: white;
    color: black;
    width: 60%; 
    /*border-radius: 5px;*/
    display: none;
    overflow-y: scroll;
}
#ModalWindow {height: 80%;}
#SchedModal {height: 60%;}
.Modal a {color: black; text-decoration: none;}
.Modal h2 {line-height: 0.5em;}
.Modal p {text-align: left; padding-left: 2em; padding-right: 2em; text-indent: 2em; line-height: 1.5em;}
.Modal span {display: block; margin-bottom: .5em;}
.modal_close {
    position: absolute;
    top: 10px; left: 15px;
    cursor: pointer;
}
.ModalThird {
    display: inline-block; width: 30%;
    vertical-align: top;
}
#SchedImage {
    width: 100%;
    margin: 1em auto;
}