body {width: 100%; height: 100%; text-align: center; margin: 0; background-color: #E6E6E6; font-family: 'Open Sans', 'sans-serif'; min-width: 950px;}
#Top {height: 5em;}
#MenuButtons > span {margin: 0 1em 0 1em; cursor: pointer;}
#MenuButtons > span:hover {text-decoration: underline;}
#LoadingInfo {margin-left: 1em;}
h1 {margin-top: 1em;}
#BottomResults {
	width: 100%;
	margin-top: 5em;
}
#CourseList, #SectionCol {
	height: calc(100vh - 16em);
	float: left;
	list-style-type: none;
	margin: 0;
	background-color: white;
	font-size: 12px;}

#CourseList {min-width: 120px; max-width: 300px; text-align: left; overflow-y: scroll;}
#CourseList li {padding: 0 2em 0 2em;}
#SectionList, #SectionInfo {width: 350px; text-align: left; overflow-y: scroll; box-sizing: border-box; padding-left: 0.5em; padding-right: 0.5em;}
#SectionList {height: 35%;}
#SectionInfo {padding-top: 2%; height: 65%;}
ul {list-style-type: none; padding: 0; margin: 0;}
#SectionList li {padding-left: 0.0em;}
#CourseList li, #SectionList li span, #SectionInfo span {cursor: pointer;}
#SectionList li span:active, #SectionInfo span:active {background-color: #00B3FF;}
.OpenSec {background-color: #47EA4C;}
.ClosedSec {background-color: #F73B3B;}
.ErrorSec {background-color: #E6E6E6;}
.CourseTitle {display: none;}
#SectionInfo p {margin: 0;}
.DescButton:hover {font-weight: bolder;}
.DescText {display: none;}

#InfoPanel {height: calc(100vh - 16em); overflow: scroll; padding-left: 2em; padding-right: 2em; font-size: 12px;}
#InfoPanel span {margin: 1em; cursor: pointer;}
#TimeCol, #Schedule {background-color: white;
	height: 80%;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
	min-height: 300px;}
#TimeCol {width: 5%; min-width: 40px;}
#Schedule {width: 90%;}
.SchedBlock {
	display: table-cell; 
	vertical-align: middle;
	position: absolute; 
	border: 1px solid black; 
	cursor: pointer; 
	color: black;
	box-sizing: border-box;
	overflow-y: hidden;}
.TimeBlock, hr {position: relative; position: absolute; text-align: center;}
.TimeBlock {width: 5%;}
.CloseX {position: absolute; top: 0; left: 0; display: block; width: 15px; height: 15px; color: #ADADAD; opacity: 0; 
	-webkit-transition: opacity .15s ease-in-out; transition: opacity .15s ease-in-out;
	-webkit-transition: color .15s ease-in-out; transition: color .15s ease-in-out;}
.CloseX:hover {color: black;}

input[type="text"] { 
	width: 30em; margin-bottom: 0.5em;
	border-radius:2px; 
	border: solid 1px #ccc; 
	padding:0.4em; 
	background-color: #f5f5f5; 
}