.logo {
  -webkit-border-radius: 4px 0px 0px 4px;
  -moz-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  border: 1px #3f94d0 solid;
  position: absolute;
  left: calc(16% - 30px);
  width: 30px;
  height: 24px;
  background-color: #3f94d0;
  background-position: 50%;
  background-size: 14px;
  background-image: url("/css/venmo.png");
  background-repeat: no-repeat;
}
.label {
  -webkit-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
  border: 1px #3f94d0 solid;
  border-left: 0;
  position: absolute;
  left: calc(16%);
  padding: 0px 4px;
  width: 100px;
  height: 24px;
  text-align: center;
  color: #283036;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background: #ffffff;
  color: #3f94d0;
}